.header {
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  min-height: 658px;
  color: #ffffff;
  padding: 30px 0 51px;

  @include vp-1199 {
    padding: 40px 21px 82px;
    min-height: 554px;
  }

  @include vp-767 {
    padding: 15px 0 80px;
    min-height: 491px;
  }

  &__nav {
    max-width: 89%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 34.48% auto;
    gap: 0 60px;

    @include vp-1199 {
      grid-template-columns: auto auto;
      gap: 0 30px;
      max-width: none;
    }
  }

  &__logo {
    line-height: 0;
    width: fit-content;
    height: fit-content;
    transition: 0.4s;

    &:hover,
    &:focus-within {
      transform: scale(1.3);
      transition: 0.4s;
    }
  }

  &__logo-icon {
    fill: $color-default-white;

    @include vp-1199 {
      width: 82px;
      height: 17px;
    }

    @include vp-767 {
      width: 69px;
    }
  }

  &__tel {
    font-family: $ff-main-object;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
    align-self: flex-start;
    justify-self: flex-end;
    transition: 0.4s;

    &:hover,
    &:focus-within {
      transform: scale(1.3);
      transition: 0.4s;
    }

    @include vp-1199 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 18px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 76px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;

    @include vp-767 {
      grid-column: 1/3;
      max-width: none;
    }
  }

  &__city {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    font-family: $ff-main-object;
    align-self: flex-end;
    margin: 92px 56px 15px 0;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 30px;
      line-height: 41px;
      margin: 51px 0 3px 0;
    }

    @include vp-767 {
      margin: 0 0 16px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__info-container {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;

    @include vp-1199 {
      margin-bottom: 38px;
    }

    @include vp-767 {
      margin-bottom: 23px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 34px 18px;
    align-self: flex-end;
    text-align: end;

    @include vp-1199 {
      margin: 0 0 19px 0;
    }

    @include vp-767 {
      margin-right: -23px;
      margin-bottom: 30px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    text-transform: uppercase;
    font-family: $ff-main-object;
    width: 200px;
    text-align: end;
    margin: 0;
    letter-spacing: 0.06em;
    flex-grow: 1;

    @include vp-1199 {
      font-size: 74px;
      line-height: 86px;
      text-transform: none;
      font-weight: 900;
      letter-spacing: 0.01em;
    }
  }

  &__button {
    padding: 20px 56px;
    background: transparent;
    border: 4px solid #ffffff;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;

    &:hover,
    &:focus-within {
      border: 4px solid;
      border-image: linear-gradient(135deg, #d10a42, #00359f) 10;
    }

    @include vp-1199 {
      padding: 20px 30px;
      margin-right: -6px;
    }

    @include vp-767 {
      width: 100%;
      margin: 0;
    }
  }

  &__img {
    margin-top: -23px;

    @include vp-1199 {
      margin: 0;
      max-width: 324px;
      max-height: 390px;
      transform: translateX(6px);
    }

    @include vp-767 {
      display: none;
    }
  }
}
